In [1]:
import mysql.connector as connector

In [18]:


try:
    connection = connector.connect(user = "pooria", password = "Pooria!2345678",database = "LittleLemonDB")
except:
    print("""
    There was a problem connecting to the database.
    Please check your username or the password.
    """)

In [19]:
cursor = connection.cursor()

In [10]:
show_tables_query = "SHOW tables"

In [11]:
cursor.execute(show_tables_query)
result = cursor.fetchall()
print (result)

[('Bookings',), ('Customers',), ('MenuItems',), ('Menus',), ('OrderDeliveryStatus',), ('OrderItems',), ('Orders',), ('Staff',)]

In [21]:
promotion_query = """SELECT 
    c.FullName,
    c.Email,
    c.Phone
FROM 
    Customers c
JOIN 
    Orders o ON c.CustomerID = o.CustomerID
WHERE 
    o.TotalCost > 60;
"""

In [22]:
cursor.execute(promotion_query)
results = cursor.fetchall()

for result in results:
    print(result)

('Jane Smith', 'jane.smith@example.com', 234568901)
('Bob Brown', 'bob.brown@example.com', 456789123)
('Emily Davis', 'emily.davis@example.com', 567901234)

In [17]:
connection.close()